body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.primary {
    color: $primary;
}

.primary-bg {
    background-color: $primary;
    color: #fff;
    border-color: $primary;
}

.btn{
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: $primary;
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: $box-shadow;
    border: 0.125rem solid $primary;
    background: transparent;
    &:hover{
        background: $primary;
        color: #000;
        transition: 0.3s all ease;
    }
}

.App {
    background-color:$background;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(0.625rem + 2vmin);
    color: white;
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }
    main{
        flex: 1;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .card{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $offwhite;
        padding: 16px;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
    }
}
