// colors
$primary: #09d3ac;
$background: #282c34;
$offwhite: #f4f5f8;
$containerbg: #393a3c;
$white: #fff;
$black : #000;

// Log states colors
$success: #39BD7F;
$info: #007bff;
$warning: #f57f17;
$danger: #e44a69;

// other styles
$box-shadow: 0 0.3125rem 0 0 $primary;